<div class="field">
  <%= f.label :address1 %><br />
  <%= f.text_field :address1, autofocus: true %>
</div>

<div class="field">
  <%= f.label :address2 %><br />
  <%= f.text_field :address2, autofocus: true %>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city %>
</div>

<div class="field">
  <%= f.label :state %><br />
  <%= f.text_field :state %>
</div>

<div class="field">
  <%= f.label :country %><br />
  <%= f.text_field :country %>
</div>

<div class="field">
  <%= f.label :zipcode %><br />
  <%= f.text_field :zipcode %>
</div>

